/* Center Section Styles */
.center-section {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    height: 550px;
}

/* Gradient */
#grad {
    height: 550px;
    background-image: linear-gradient(to bottom right, rgb(59, 65, 73), black);
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

/* Content */
.text-1 {
    color: white;
    margin: 0px;
}

.bold {
    font-style: bold;
}

.hand-wave img {
    height: 50px;
}

p {
    color: gray;
    font-size: x-large;
}

/* Image */
.name {
    color: white;
}

.blue {
    color: rgb(36, 167, 255); 
}

.demo-image img {
    height: 490px;
    width: 650px;
}
